body, html{
	margin: 0 !important;
	padding:0 !important;
	background-color: #FFFFEE;
}
.form-control:focus {
  border-color: #e7e7e7;
   -webkit-box-shadow: inset 0px 0px 2px #a00;
 -moz-box-shadow: inset 0px 0px 2px #a00;
}
.addwrapper{
	margin-top: 30px;
	margin-left: 30px;
}
.btn-warning{
	border-radius: 0;
	border-color: #f0ad4e;
	color:rgb(22, 54, 181);
}
.panel-warning{
	border-radius: 0;
	border-color: white;
	border: none;	
}
.form-control{
	border-radius: 0;
	resize:none;
}
.btn-group{
	margin-left: 12px;
	margin-top: 20px;
}
.navbar{
	border-radius: 0;
}